@page "/createRoom"
@using StoryPointEstimatorBlazorApp.Models
<style>
    .inputArea{
        text-align : center;
    }
    .inputText{
        background-color: #EDEDED;
        display:inline-block;
        padding-left:30px;
        padding-right:30px;
        padding-top:30px;
        padding-bottom:30px;
        margin:10px;
    }
    .inputSpacer{
        padding-top:10px;
        padding-bottom:10px;
    }
</style>


<div class="inputArea">
    <div class="inputText">
        <EditForm Model="@newRoomModel" OnValidSubmit="@insertData">
            <ObjectGraphDataAnnotationsValidator />

            <div class = "inputSpacer">
                <div class="form-group">
                    <MudGrid Class="justify-space-between" Style="max-width: 400px;">
                        <MudItem xs="12">
                            <MudTextField Mask="@mask" Label="Flight number" 
                      @bind-Value="text"  Variant="@Variant.Outlined" Clearable />
                        </MudItem>
                        <MudItem xs="12">
		                    Flight number: <b>@text</b>
                        </MudItem>
                    </MudGrid>
                </div>
            </div>

            <div class = "inputSpacer">
                <div class="form-group">
                    <MudGrid Class="justify-space-between" Style="max-width: 400px;">
                        <MudItem xs="12">
                            <MudTextField Mask="@mask" Label="Flight number" 
                      @bind-Value="text"  Variant="@Variant.Outlined" Clearable />
                        </MudItem>
                        <MudItem xs="12">
		                    Flight number: <b>@text</b>
                        </MudItem>
                    </MudGrid>
                </div>
            </div>

            <div class = "inputSpacer">
                <MudGrid Class="justify-space-between" Style="max-width: 400px;">
                        <MudItem xs="12">
                            <MudTextField Mask="@mask" Label="Flight number" 
                      @bind-Value="text"  Variant="@Variant.Outlined" Clearable />
                        </MudItem>
                        <MudItem xs="12">
		                    Flight number: <b>@text</b>
                        </MudItem>
                    </MudGrid>
            </div>

            <button type="submit" class="btn btn-primary">Create Room</button>
            <a class="btn btn-primary" href="/">Cancel</a>
        </EditForm>
    </div>
</div>

@code {

    //Input Masks
    public string text { get; set; }
    IMask mask = new BlockMask(delimiters:" ", new Block('a', 1,3), new Block('0', 1,4));


    private DisplayRoomModel newRoomModel = new DisplayRoomModel();

    //TODO When database is finished need to make sure generated code is unique
    private int createRoomCode()
    {
        Random rand = new Random();
        return rand.Next(1000, 10000); //generates a random room code between 1000 and 9999
    }
    //TODO When database is finished need to make sure generated code is unique
    private int createUserId()
    {
        Random rand = new Random();
        return rand.Next(1000, 10000); //generates a random user ID between 1000 and 9999
    }

    private async Task insertData(){
        //TODO Add data to newRoomModel and update db 
    }
}