@page "/Room"

<div>
    <MudAppBar Class="appbar">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        <MudButton Link="/" Variant="Variant.Text" Class="appbar-buttons"> Home</MudButton>
        <MudButton Link="Room" Variant="Variant.Text" Class="appbar-buttons"> Fibonacci Tool</MudButton>
        <MudButton Variant="Variant.Text" Class="appbar-buttons"> Fist to Five</MudButton>
        <MudButton Variant="Variant.Text" Class="appbar-buttons"> 1-24 Voting</MudButton>
        <MudButton Variant="Variant.Text" Class="appbar-buttons"> T-Shirt Size</MudButton>
        <MudButton Variant="Variant.Text" Class="appbar-buttons"> Timer </MudButton>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Class="drawer">
        <a href="aboutUs" class="drawer">About Us</a>
        <a href="Room" class="drawer">ROOM PAGE (DEBUGGING)</a>
    </MudDrawer>
</div>

<div>
    <span class="label">Fibonacci Tool</span>
</div>

<div class="mainContainer"> 
    <div class="tool-buttons-container">    
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        ?</MudButton>
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        0</MudButton>
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        0.5</MudButton>
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        1</MudButton>
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        2</MudButton>
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        3</MudButton>
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        5</MudButton>
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        8</MudButton>
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        13</MudButton>
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        20</MudButton>
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        40</MudButton>
    <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
        100</MudButton>
    </div>

    <div class="table-container">
        <MudSimpleTable Style="overflow-x: auto;" Class="table">
        <thead>
            <tr>
                @foreach (var h in headings)
                {
                    <th>@h</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in rows)
            {
                <tr>
                    @foreach (var x in row.Split())
                    {
                        <td>@x</td>
                    }
                </tr>
            }
        </tbody>
    </MudSimpleTable>
    </div>        
</div>

<div>
    <MudChip Class="roomLabel" >Room Name Goes Here</MudChip>
    <MudChip Class="roomLabel" >Room Code Goes Here</MudChip>
</div>

<div class="voting-area">
    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
        <MudButton>Fibonacci Tool</MudButton>
        <MudButton>Fist to Five</MudButton>
        <MudButton>1-24 Scale</MudButton>
        <MudButton>T-Shirt Size</MudButton>
        <MudButton>Timer</MudButton>
    </MudButtonGroup>
</div>

@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    string[] headings = { "User", "Vote" };
    string[] rows = {
        @"Krishna 1",
        @"Webb 2",
        @"Nathanil 3",
        @"Adara 4",
        @"Cecilius 5",
        @"Cicely 6",
    };
}

