@page "/Room"

<div>
    <MudAppBar Class="appbar" @bind-Button="Voting_Mode">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        ScrumSpace
        <MudButton Link="/" Variant="Variant.Text" Class="appbar-buttons"> Home</MudButton>
        <MudButton OnClick="Fibonacci_Voting" Variant="Variant.Text" Class="appbar-buttons"> Fibonacci Tool</MudButton>
        <MudButton OnClick="FistFive_Voting" Variant="Variant.Text" Class="appbar-buttons"> Five to Five</MudButton>
        <MudButton OnClick="TShirt_Voting" Variant="Variant.Text" Class="appbar-buttons"> 1-24 Voting</MudButton>
        <MudButton OnClick="CustomScale_Voting" Variant="Variant.Text" Class="appbar-buttons"> T-Shirt Sizing</MudButton>
        <MudButton Variant="Variant.Text" Class="appbar-buttons"> Timer</MudButton>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Filled.Settings" Color="Color.Inherit" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Class="drawer">
        <a href="aboutUs" class="drawer">About Us</a>
    </MudDrawer>

</div>

<div class="mainContainer">
    <div class="button-label-container">
        <MudPaper Class="tool-buttons-container" Elevation="3">    
            @if(Voting_Mode==1) 
            {
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    ?</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    0</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    0.5</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    1</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    2</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    3</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    5</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    8</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    13</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    20</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    40</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    100</MudButton>    
            }
            @if(Voting_Mode == 2)
            {
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    XS</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    S</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    M</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    L</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    XL</MudButton>
            }
            @if(Voting_Mode == 3)
            {
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    1</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    2</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    3</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    4</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    5</MudButton>
            }
        </MudPaper>
        <div class=roomLabel-container>
            <MudChip Class="roomLabel" >Room Name Goes Here</MudChip>
            <MudChip Class="roomLabel" >Room Code Goes Here</MudChip>
        </div>
    </div>
    <MudSimpleTable Style="overflow-x: auto;" Class="table">
        <thead>
            <tr>
                @foreach (var h in headings)
                {
                    <th>@h</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in rows)
            {
                <tr>
                    @foreach (var x in row.Split())
                    {
                        <td>@x</td>
                    }
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</div>

@code {

    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    public int Voting_Mode { get; set; } = 1;

    string[] headings = { "User", "Vote" };
    string[] rows = {
        @"Krishna 1",
        @"Webb 2",
        @"Nathanil 3",
        @"Adara 4",
        @"Cecilius 5",
        @"Cicely 6",
    };

    //Changes Button Layout
    void Fibonacci_Voting(){
        Voting_Mode = 1;   
    }
    void CustomScale_Voting(){
        Voting_Mode = 2;
    }
    void FistFive_Voting(){
        Voting_Mode = 3;
    }
    void TShirt_Voting(){
        Voting_Mode = 4;
    }
}

