@page "/Room"

<div>
    <MudAppBar Class="appbar" @bind-Button="Voting_Mode">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        ScrumSpace - 
        <MudButton Link="/" Disabled="@_ClickedBtn1" Class="appbar-buttons"> 
            <MudText Class="appbar-buttons">Home</MudText>
        </MudButton> |
        <MudButton Disabled="@_ClickedBtn2" OnClick="Fibonacci_Voting" Class="appbar-buttons">
                     @if (_ClickedBtn2)
                        {
                            <MudText Class="appbar-buttons-clicked" >Fibonacci Tool</MudText>
                        }
                     else
                        {
                            <MudText Class="appbar-buttons">Fibonacci Tool</MudText>}
        </MudButton> |
        <MudButton Disabled="@_ClickedBtn3" OnClick="FistFive_Voting" Class="appbar-buttons">
                     @if (_ClickedBtn3)
                        {
                            <MudText Class="appbar-buttons-clicked">Five to Five</MudText>
                        }
                     else
                        {
                            <MudText Class="appbar-buttons">Five to Five</MudText>
                        }
        </MudButton> |
                        <MudButton Disabled="@_ClickedBtn4" OnClick="TShirt_Voting" Class="appbar-buttons">
                     @if (_ClickedBtn4)
                        {

                            <MudText Class="appbar-buttons-clicked">T-Shirt Sizing</MudText>
                        }
                     else
                        {
                            <MudText Class="appbar-buttons">T-Shirt Sizing</MudText>
                        }
        </MudButton> |
        <MudButton Disabled="@_ClickedBtn5" OnClick="Timer_Mode" Class="appbar-buttons">
                     @if (_ClickedBtn5)
                        {
                            <MudText Class="appbar-buttons-clicked">Timer</MudText>
                        }
                     else
                        {
                            <MudText Class="appbar-buttons">Timer</MudText>
                        }
        </MudButton> |
        <MudButton Disabled="@_ClickedBtn6" OnClick="CustomScale_Voting" Class="appbar-buttons">
                     @if (_ClickedBtn6)
                        {
                            <MudText Class="appbar-buttons-clicked">Custom Voting</MudText>
                        }
                     else
                        {
                            <MudText Class="appbar-buttons">Custom Voting</MudText>
                        }
        </MudButton>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Filled.Settings" Color="Color.Inherit" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Class="drawer">
        <a href="aboutUs" class="drawer">About Us</a>
    </MudDrawer>

</div>

<div class="mainContainer">
    <div class="button-label-container">
        <MudItem xs="12">
        <MudPaper Class="mud-paper-buttons" Height ="650px" Elevation="0">    
            @if(Voting_Mode==1) 
            {
                <MudItem xs="6">
                    <MudPaper Class="mud-paper-tool-name" Elevation="0">    
                        <MudText Class="mud-paper-tool-name"> Fibonacci Tool</MudText>
                    </MudPaper>
                </MudItem>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    ?</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    0</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    @half</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    1</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    2</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    3</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    5</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    8</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    13</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    20</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    40</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    100</MudButton>    
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    @coffee</MudButton>    



            }
            @if(Voting_Mode == 2)
            {
                <MudItem xs="6">
                    <MudPaper Class="mud-paper-tool-name" Elevation="0">    
                        <MudText Class="mud-paper-tool-name"> T-Shirt Sizing</MudText>
                    </MudPaper>
                </MudItem>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    XS</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    S</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    M</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    L</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    XL</MudButton>
            }
            @if(Voting_Mode == 3)
            {
                <MudItem xs="6">
                    <MudPaper Class="mud-paper-tool-name" Elevation="0">    
                        <MudText Class="mud-paper-tool-name"> Fist to Five</MudText>
                    </MudPaper>
                </MudItem>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    1</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    2</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    3</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    4</MudButton>
                <MudButton Variant="Variant.Filled" Class="tool-buttons">
                    5</MudButton>
            }
            @if(Voting_Mode==4) 
            {
                <MudItem xs="6">
                    <MudPaper Class="mud-paper-tool-name" Elevation="0">    
                        <MudText Class="mud-paper-tool-name"> Custom Voting</MudText>
                    </MudPaper>
                </MudItem>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    1</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    2</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    3</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    4</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    5</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    6</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    7</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    8</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    9</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    10</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    11</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    12</MudButton>    
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    13</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    14</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    15</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    16</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    17</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    18</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    19</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    20</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    21</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    22</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    23</MudButton>
                <MudButton Link="" Variant="Variant.Filled"  Class="tool-buttons">
                    24</MudButton>    
            }
        </MudPaper>
        </MudItem>
        <MudItem xs="12">
        <MudPaper Class="mud-paper-room-labels" Elevation="0">  
            <MudChip Class="mud-chip" >Room Name Goes Here</MudChip>
            <MudChip Class="mud-chip" >Room Code Goes Here</MudChip>
        </MudPaper>
        </MudItem>
    </div>
    <div>
    <MudPaper Class="mud-paper-admin-tools" Height ="200px" Elevation="0">
    <MudItem xs="6">
            <MudText Class="mud-paper-tool-name">Admin Tools</MudText>
    </MudItem>
    <button type="submit" class="btn admin-tools-buttons">Delete Votes</button>
    <button type="submit" class="btn admin-tools-buttons">Hide Votes</button>
    <button type="submit" class="btn admin-tools-buttons">Hide Users</button>
    <button type="submit" class="btn admin-tools-buttons">Clear Users</button>
    <button type="submit" class="btn admin-tools-buttons">Save Results</button>
</MudPaper>
    <MudItem xs="12">
    <MudPaper Class="mud-paper-table" Height ="500px" Elevation="0">
    <MudItem>
            <MudText Class="mud-paper-tool-name"> Results</MudText>
    </MudItem>
    <MudSimpleTable Style="overflow-x: auto;" Class="table">
        <thead>
            <tr>
                @foreach (var h in headings)
                {
                    <th>@h</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in rows)
            {
                <tr>
                    @foreach (var x in row.Split())
                    {
                        <td>@x</td>
                    }
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</MudPaper>
</MudItem>
</div>
</div>

@code {

    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    public int Voting_Mode { get; set; } = 1;

    string[] headings = { "User", "Vote" };
    string[] rows = {
        @"User1 1",
        @"User2 2",
        @"User3 3",
        @"User4 4",
        @"User5 5",
        @"User6 6",
    };

    //Appbar Buttons
    void Fibonacci_Voting(){
        Voting_Mode = 1;
        EverythingFalse();
        _ClickedBtn2 = true;
    }
    void FistFive_Voting(){
        Voting_Mode = 3;
        EverythingFalse();
        _ClickedBtn3 = true;
    }
    void TShirt_Voting(){
        Voting_Mode = 2;
        EverythingFalse();
        _ClickedBtn4 = true;
    }
    void Timer_Mode(){
        EverythingFalse();
        _ClickedBtn5 = true;
    }
    void CustomScale_Voting(){
        Voting_Mode = 4;
        EverythingFalse();
        _ClickedBtn6 = true;
    }
    void EverythingFalse()
    {
        _ClickedBtn1 = false;
        _ClickedBtn2 = false;
        _ClickedBtn3 = false;
        _ClickedBtn4 = false;
        _ClickedBtn5 = false;
        _ClickedBtn6 = false;
    }

    //Symbols
    char coffee = '\u2615';
    char half = '\u00BD';

    //Toggle Button
    private bool _ClickedBtn1 = false;
    private bool _ClickedBtn2 = true;
    private bool _ClickedBtn3 = false;
    private bool _ClickedBtn4 = false;
    private bool _ClickedBtn5 = false;
    private bool _ClickedBtn6 = false;
}

